

.photo {
    width: 200px;
    height: 200px;
    float: left;
    position: relative;
    margin: 20px;
    color: #fff;
    background-size: cover !important;
}
.featured {
    width: 400px;
    height: 400px;
}
.photo h2 {
    background-color: #000;
    padding: 10px;
    font-size: 14px;
    margin-top: -10px;
}